<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="about">
  <header>
    <nav>
      <ul>
        <li><a href="index.html">1 : Home</a></li>
        <li><a href="work.html">2 : Works</a></li>
        <li><a href="about.html">3 : About me</a></li>
        <li><a href="contact.html">4 : Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="aboutarea" >
    <h1>| 3 : About me |</h1>
        <p>As a recent Engineering graduate with a deep passion for the IT industry, I have a strong academic background with a Bachelor's degree in Mechanical Engineering from Rural Engineering College Hulkoti, affiliated with Vishveraya Technological University, Belgaum. During my academic journey, I secured Distiction with 70% marks, demonstrating my commitment to excellence.</p>
        <p>Apart from my engineering education, I also have a background in programming, particularly in Python. I am proficient in writing logical code and object-oriented concepts. My programming skills extend to using SQL for databases and web technologies like HTML5, CSS3, and JavaScript, along with Flask Frame work, Application Programming Interface (API) and React JS for frontend development. I have also completed a Python Full Stack Development Course.</p>
        <p>Internship Experience:
            During my studies, I had the opportunity to undertake an internship where I focused on studying the iEGR (Intelligent Exhaust Gas Recirculation) system of BS VI vehicles. This experience enhanced my understanding of vehicle emissions and modern emission control technologies.</p>
        <p>Project Work:
            I successfully completed an experimental investigation project on the performance characteristics of biodiesel blends produced from palm oil and waste cooking oil mixture on a single-cylinder CI engine. This project allowed me to delve into the sustainable use of alternative fuels and their impact on engine performance.</p>
        <p>In conclusion, I am an enthusiastic and motivated individual with a passion for technology and a determination to make a positive impact in the IT industry. I am excited about the opportunities that lie ahead and look forward to contributing my skills and knowledge to innovative projects and organizations. Thank you for visiting my portfolio, and I hope you find my work engaging and informative.</p>
    

  </main>
</body>
</html>
