<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="home">
  <header>
    <nav>
      <ul>
        <li><a href="index.html">1 : Home </a></li>
        <li><a href="work.html">2 : Works</a></li>
        <li><a href="about.html">3 : About me</a></li>
        <li><a href="contact.html">4 : Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="home2">
    <h2>Hello,</h2>
    <h2>Laxmikant Malashetti <br>
    Python Fullstack Developer</h2>
  </main>
</body>
</html>
