<!DOCTYPE html>
<html>
<head>
  <title>Work</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="work">
  <header>
    <nav>
      <ul class="nav">
        <li><a href="../index.html">1 : Home</a></li>
        <li><a href="work.html">2 : Works</a></li>
        <li><a href="about.html">3 : About me</a></li>
        <li><a href="contact.html">4 : Contact</a></li>
      </ul>
    </nav>
    </header>
    <div class="area">
        <main>
            <h1>| 2 : My Works |</h1>
            <div class="workdiv">
                <div>1. Lorem ipsum dolor sit amet.</div>
                <div>2. Lorem ipsum dolor sit amet.</div>
                <div>3. Lorem ipsum dolor sit amet.</div>
            </div>
        </main>
    </div>
</body>
</html>
